.posts {
  flex: 2;
  height: calc(100vh - 220px);
  width: 100%;
  min-width: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
.post {
  width: 500px;
  margin: 15px auto;
  background-color: #ffc59c;
  padding: 15px 20px;
  border-radius: 12px;
  box-shadow: 3px 3px 10px rgba(192 148 118 / 20%),
    -3px -3px 10px rgb(192 148 118 / 20%);
}
.post h3 {
  margin: 0 0 10px 0;
}
.post-box {
  width: 100%;
  text-align: center;
  background-color: #ffb078;
  box-shadow: 3px 3px 10px rgba(192 148 118 / 30%),
    -3px -3px 10px rgb(192 148 118 / 30%);
  border-radius: 5px;
}
.post .image-posted {
  margin-bottom: -4px;
  max-height: 300px;
  max-width: 100%;
  border-radius: 5px;
}
.post .like-btn {
  width: 25px;
  padding-top: 7px;
  padding-left: 5px;
}
.post .like-btn-liked {
  font-size: 25px;
}
.post .like-btn:hover {
  cursor: pointer;
}
.post .like-btn-liked:hover {
  cursor: pointer;
}
.likes-div {
  margin: 10px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.likes-div h4 {
  margin: auto 10px;
}
.posts-container {
  display: flex;
  flex-wrap: wrap;
}
.posts-filter {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  background-color: #ffe4d1;
  border-radius: 20px;
}
.posts-filter-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  background-color: #ffb078;
  border-radius: 20px 20px 0px 0px;
}
.posts-filter h3 {
  margin: 20px 10px;
}
.post-username {
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.post-username h3 {
  margin: 0;
  margin-left: 5px;
  color: black;
}
.posts-filter-btn {
  width: 80%;
  margin: 10px auto;
  background-color: #ffe4d1;
  border: none;
  border-radius: 12px;
  padding: 5px;
  font-weight: 600;
  font-size: medium;
  color: rgb(83, 83, 83);
}
.posts-filter-btn:hover {
  cursor: pointer;
  background-color: #ffb078;
}
.btn-selected {
  background-color: #ffb078;
}

@media (max-width: 930px) {
  .posts {
    min-width: 350px;
    height: 100%;
  }
  .post {
    width: 80%;
    margin: 20px auto;
  }
  .posts-filter {
    min-width: 200px;
    height: fit-content;
    margin:20px;
  }
  .post .image-posted {
    max-height: 100%;
    max-width: 100%;
  }
  .post-box {
    width: 100%;
  }
  .home-container-2{
    padding:0;
  }
}
